@import url(./reset.css);

html,
body {
    font-size: 20px;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.audio_block {
    background-image: url(./assets/jpg/Beyonce_blur.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.audio_player {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(to right, #404040 0%, #808080 100%);
    padding: 20px;
    width: 500px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0rem 0.3rem 0.7rem 0.1rem #000;
    overflow: hidden;
}

.picture_cart {
    margin-top: 30px;
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background-image: url(./assets/jpg/Beyonce-Dont_Hurt_Your_self.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0rem 0.3rem 0.7rem 0.1rem #000;
    border-radius: 50%;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.picture_cart.play {
    animation-play-state: running;
}

.picture_cart::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(to right, #404040 0%, #808080 100%);
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.audio_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.play-btn {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: solid #000;
    background-color: transparent;
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: #000;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

.music-name  {
    color: #FFF;
}

.artist-name {
    font-size: 25px;
    color: #ADFF2F;
}

.btn_next_prev {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid #000;
    background-color: transparent;
}

.prev_btn img {
    margin-right: 3px;
    transform: rotate(180deg);
}

.song-slider {
    width: 80%;
    position: relative;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #000;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background: #ADFF2F;
    /* box-shadow: -400px 0 0 400px #acff2f81; */
}

.song-slider span:nth-child(2) {
    color: #FFF;
}

.song-slider span:nth-child(3) {
    color: #ADFF2F;
}

.song-duration {
    position: absolute;
    top: -13px;
    right: 0;
}

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.my-github {
    display: flex;
    align-items: center;
}

.footer a,
.footer p {
    color: #696969;
}

.footer a:hover {
    color: black;
    transition: 0.5s;
    transform: scale(1.05);
}
  
.footer .github-icon {
    margin-right: 15px;
}